.login-container {
  padding: 12px 12px;
}
.login-container button {
  border: none;
  outline: none;
  background-color: rgb(48, 165, 42);
  color: #fff;
  padding: 1px 20px;
}
.error-message {
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.is-invalid {
  border-color: #dc3545;
}

.form-text {
  font-size: 0.75rem;
  margin-top: 0.25rem;
}






